h1 {
  color: rgb(125, 125, 125);
  margin-top: 0;
  padding-top: 50px;
}

@media (max-width: 767px) {
  h1 {
    padding-top: 40px;
  }
}

@media (max-width: 479px) {
  h1 {
    padding-top: 25px;
  }
}
