.allNotes {
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.noteBlock {
  width: 30%;
  display: block;
  position: relative;
  margin: 5px 1%;
}

.noteBlock:nth-child(3n + 1) {
  margin-left: 3%;
}

.collapseBtn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f06292;
}

.note {
  background-color: #f06292;
}

.hidden {
  display: none;
}
